language: node_js
node_js: stable

sudo: false
dist: osx

cache:
  directories:
    - node_modules

matrix:
  include:
    - os: osx
      osx_image: xcode8.2

addons:
  apt:
    packages:
      - xvfb

install:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then export DISPLAY=':99.0'; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 & fi
  - npm install
  
script:
  - npm test

after_success:
  - bash <(curl -s https://codecov.io/bash)

git:
  depth: 1
branches:
  only:
  - master
